$primary-font-color: #bdc3c7;
$secondary-font-color: #95a5a6;

$border-color: #95a5a6;

$input-background-color: #384f66;
$input-hover-color: #2c3e50;
$input-click-color: #1c2c3b;

$background-img-color: #2980b9;
$todo-container-bgcolor: #2c3e50;

$trashbin-color: #e74c3c;
$trashbin-hover-color: #853027;
$trashbin-click-color: #612b25;


@mixin displayFlex {    
    display: flex;
    justify-content: center;
    align-items: center;
}