@import "./main/currentDayView";
@import "./main/taskCreator";
@import "utils";
@import "./main/taskAndList";

$background-img-color: rgb(173, 58, 129);
$todo-container-bgcolor: rgb(46, 47, 51);

#main-body {
    width: 100vw;
    margin: 0;
    background-color: $background-img-color;
    @include displayFlex();
}

#todo-container{
    margin-top: 30px;
    width: 650px;
    height: 850px;

    background-color: $todo-container-bgcolor;
    border-radius: 7.5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.no-margin-border{
    margin: 0px;
    border: 0px;
}