#current-day-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.left-separator {
  font-size: 40px;
  font-weight: bold;
  margin-left: 0;
  margin-right: 30px;
  color: #95a5a6;
}

.right-separator {
  font-size: 40px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 0;
  color: #95a5a6;
}

.primary-font {
  color: #bdc3c7;
  font-size: 30px;
  text-align: center;
}

.secondary-font {
  color: #95a5a6;
  font-size: 16px;
  text-align: center;
}

.task-creator-container {
  margin-top: 65px;
  height: 35px;
  width: 90%;
  border-bottom: 1.5px solid #95a5a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#creator-input-field {
  background-color: #384f66;
  height: 35px;
  max-width: 350px;
  min-width: 350px;
  border-radius: 5px;
  border: 1px solid #95a5a6;
  color: #95a5a6;
  padding-left: 30px;
}

#creator-submit-btn {
  margin-left: 25px;
  height: 35px;
  max-width: 50px;
  min-width: 50px;
  background-color: #384f66;
  border-radius: 5px;
  border: 1px solid #95a5a6;
  color: #95a5a6;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

#creator-submit-btn:hover {
  background-color: #2c3e50;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

#creator-submit-btn:active {
  background-color: #1c2c3b;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

#task-list-container {
  overflow-y: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-container {
  padding: 10px 0;
  width: 90%;
}

.task-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #384f66;
  border: 1px solid #95a5a6;
  border-radius: 4px;
  width: 100%;
  height: 60px;
}

.task-checkbox-container .task {
  color: #bdc3c7;
  margin-left: 15px;
}

.task-checkbox-container .finished-task {
  color: #95a5a6;
  text-decoration: line-through;
}

.task-checkbox-container .task-checkbox {
  width: 14px;
  height: 14px;
}

.invisible {
  height: 28px;
  width: 28px;
  margin-left: 17px;
  border: 1px solid #95a5a6;
  visibility: hidden;
}

.delete-task {
  height: 28px;
  width: 28px;
  background-color: #e74c3c;
  border-radius: 4px;
  border: 1px solid #95a5a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.delete-task:hover {
  background-color: #853027;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.delete-task:active {
  background-color: #612b25;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.delete-task .trashbin {
  color: #bdc3c7;
  width: 40px;
  height: 40px;
}

#main-body {
  width: 100vw;
  margin: 0;
  background-blend-mode: multiply;
  background: #2980b9 url("../assets/images/noise.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#todo-container {
  margin-top: 30px;
  width: 550px;
  height: 780px;
  background-color: #2c3e50;
  border: 1px solid #95a5a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-margin-border {
  margin: 0px;
  border: 0px;
}
/*# sourceMappingURL=style.css.map */