$font-color: rgb(121, 125, 131);

$container-margin-height: 65px;
$objects-height: 35px;
$inputs-border-radius: 5px;

.task-creator-container{
    margin-top: $container-margin-height;
    height: $objects-height;
    width: 80%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.363);

    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
}

#creator-input-field{
    background-color: $input-background-color;
    height: $objects-height;
    max-width: 350px;
    min-width: 350px;

    border-radius: 5px;
    border: 1px solid rgb(28, 28, 31);
    color: $font-color;

    padding-left: 30px;
}

#creator-submit-btn{
    margin-left: 25px;
    height: $objects-height;
    max-width: 50px;
    min-width: 50px;

    background-color: $input-background-color;
    border-radius: 5px;
    border: 1px solid rgb(28, 28, 31);
    color: $font-color;

    transition: background-color 0.1s ease-out;

    &:hover{
        background-color: $input-hover-color;
        transition: background-color 0.1s ease-out;
    }

    &:active{
        background-color: $input-click-color;
        transform: translateY(1px);
        transition: 0.1s ease-out;
    }
}